@charset "UTF-8";

body {
    height: 95vh;
    background: white url('images/background.jpg') center center / cover fixed;
}

img#phone {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 95%;
    margin: auto;
}

iframe#screen {
    position: absolute;
    display: block;
    top: 50.4%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 70.5%;
    margin: auto;
}

div.button {
    position: absolute;
    box-shadow: 2px 2px 5px black;
    left: 86.5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

div.button:hover {
    transition: 200ms;
    border: 1px solid white;
    box-shadow: 5px 5px 15px black;
}

div#home {
    top: 5%;
    background: white url('images/logo-home.jpg') center center / 50px 50px no-repeat local;
}

div#whatsapp {
    top: 15%;
    background: white url('images/logo-whatsapp.jpg') center center / 50px 50px no-repeat local;
}

div#linkedin {
    top: 25%;
    background: white url('images/logo-linkedin.jpg') center center / 50px 50px no-repeat local;
}

div#github {
    top: 35%;
    background: white url('images/logo-github.jpg') center center / 50px 50px no-repeat local;
}


div#instagram {
    top: 45%;
    background: white url('images/logo-instagram.jpg') center center / 50px 50px no-repeat local;
}

div#github:hover, div#instagram:hover {
    border: 1px solid black;
}

div#twitter {
    top: 55%;
    background: white url('images/logo-twitter.jpg') center center / 50px 50px no-repeat local;
}